<!doctype html>
<html lang="{{ .Site.Language.Locale | default "fr-FR" }}" data-appearance="auto" data-palette="carmin">
  {{ partial "head.html" . }}
  <body class="page page--{{ .Kind }}{{ with .Params.format }} format--{{ . }}{{ end }}">
    <a class="skip-link" href="#main-content">Aller au contenu</a>
    {{ partial "header.html" . }}
    {{ if ne .Layout "search" }}{{ partial "global-panels.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ $siteScript := resources.Get "js/site.js" | minify | fingerprint }}
    <script defer src="{{ $siteScript.RelPermalink }}" integrity="{{ $siteScript.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ block "scripts" . }}{{ end }}
  </body>
</html>
