{{ define "main" }}
<div class="search-container">

    <div class="search-box">
        <input type="text" id="search-input" placeholder="Rechercher..." aria-label="Recherche">
    </div>

    <div id="search-results"></div>
</div>

{{ $fuse := resources.Get "js/fuse.js" }}
<script src="{{ $fuse.RelPermalink }}"></script>
<script src="/js/search.js?v={{ now.Unix }}"></script>

{{ $searchStyle := resources.Get "sass/search.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $searchStyle.RelPermalink }}">
{{ end }}