{{ $avatar_img := .Site.Params.author.avatar }}
{{ $avatar_img_alt := .Site.Params.author.name | default .Site.Title }}
{{ $author_description := .Site.Params.author.description }}
{{ $image := resources.Get $avatar_img }}

<section class="hero-bio" aria-label="Presentation de {{ $avatar_img_alt }}">
  <div class="hb-inner">
    {{ with $image }}
      {{ $avatar := .Fill "440x440 center webp" }}
      {{ $avatar2x := .Fill "880x880 center webp" }}
      <img class="hb-main"
           src="{{ $avatar.RelPermalink }}"
           srcset="{{ $avatar2x.RelPermalink }} 2x"
           alt="{{ $avatar_img_alt }}"
           width="{{ $avatar.Width }}"
           height="{{ $avatar.Height }}">
    {{ end }}

    {{ with $author_description }}
      <p class="hb-quote">{{ . }}</p>
    {{ end }}
  </div>
</section>
