{{ define "main" }}
{{ partial "bio" . }}
<div class="wrapper wrapper-home">
    <main aria-label="Content">
        {{ $articlesSorted := (where .Site.RegularPages "Params.showOnHome" true).ByDate.Reverse }}

        <section class="home-section">
            <h3 class="posts-item-note" aria-label="Recent Articles">{{ T "home.recent_posts" }}</h3>
            {{ range first 5 $articlesSorted }}
            {{ partial "postCard" . }}
            {{ end }}
            {{ range $firstSection := (where .Site.Sections "Section" "in" (first 1 (.Site.Params.mainSections))) }}
            <p class="home-see-all">
                <a class="home-see-all-link" href="{{ $firstSection.Permalink }}">Tous les articles</a>
            </p>
            {{ end }}
        </section>
    </main>
</div>
{{ end }}
